@font-face {
    font-family: "ChronicleDisplay-Italic-Bold";
    src: url("http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/6fa234292be32f532b2821a784dc4c8b/ChronicleDeck-BoldItalic.ttf");
}

h1{
    margin-bottom:50px;     
    color:#9b9b9b;
}
h1 .current_item {
    color: black;
    
}
h2{
 max-width:800px;   
}
.holiday-popup-footer{
     font-family: ChronicleDisplay-Italic;
    font-size:12px;
    margin-top:34px;
    margin-bottom:0px;
    letter-spacing: 1px; 
}

.popup-form-div label{
    font-size:13px;
    color:black;
    font-family: WhitneyHTF-Book;
    float:left;
    width:95px;
}
.holiday-typebox{
    width:183px !important;
    height:23px !important;
    float:left;
   margin-bottom:6px !important;
   margin-right:20px !important;
   font-size:12px;
   padding:3px !important;
}
.floater-left{
    float:left;
}
  .gray-long{
   background-image: url("http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/6fa234292be32f532b2821a784dc4c8b/dottedgrayLong.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 3px;
    margin: 0 auto;
    padding: 1em; 
     float: left;
    width: 100%;
  }
label{
margin-top:0px;    
}
.agree-btn{
    margin-top:5px;
    width:100%;
}
.agree-btn label{
    width:125px;
    margin-top:15px;
}
#agree_newsletter{
    margin-bottom:8px;
}
.holiday-option{
    font-family: WhitneyHTF-Book;
    font-size:12px;
    color:black;
    float:left;
    margin-right:15px;
    margin-bottom:0px;
}
.holiday-popup-header{
    font-size:28px;
    color:black;
    text-align:center;
    font-family: ChronicleDisplay-Italic;
    margin-bottom:0px;
}
.holiday-money{
    font-family: ChronicleDeck-bold; 
    font-size:80px;
    color:black;
    margin-bottom: 0px;
    text-align: center;
    height:65px;
    line-height:0.8em;
    margin:0 auto;
}
.holiday-ds{
    text-align:center;
  font-family: ChronicleDeck-bold; 
    font-weight:bold;
    font-size:20px;
    margin-bottom: 0px;
}

 .holiday-btn{
     font-family: ChronicleDeck-Roman;;
     font-size:13px;
     background-color:#e70033 !important;
     width:109px;
     height:23px;
     border:none;
     padding-top:3px;
     margin-bottom:15px;
 }      
.popup-close{
    background-image:url("http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/49986ff249df53ba1e26eb3c6fefc753/close.png");
    cursor:pointer;
    margin-bottom:0px;
    height:24px;
    width:24px;
}
.fixed {
    background: none repeat scroll 0 0 #fff;
    position: fixed;
    top: 0;
    width:95%;
    z-index: 1000;
}
.hidden-popup-bg {
   background-color:rgba(0, 0, 0, 0.65);
   height:100%;
   width:100%;
   position:fixed;
   z-index:999999999;
   display:none;
   top:0;
}
.hidden-popup-form {
    background: none repeat scroll 0 0 #fff;
    max-width:640px;
    padding: 20px;
    padding-top:10px;
    padding-right:10px;
    margin:0 auto;
    margin-top:80px;
}
.holiday-divider-first{
    background-image: url("http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/9a65c1b2b2f04b74bde6d0f057d70551/dotted.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 2px;
    
    margin-top: 15px;
    margin-bottom:17px;
}
.holiday-divider-second{
    background-image: url("http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/9a65c1b2b2f04b74bde6d0f057d70551/dotted.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:31px;
}
.popup-header{
       min-height: 16.4286px;

}

.padding-left-none{
    padding-left:0px;
}
.popup-form{
      background: none repeat scroll 0 0 #fff;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
}
.popup-form form{
    display: block;
  
    position: relative;
    text-align: left;
}
.stMainServices, .stHBubble{
    height:25px !important;
 }
       
.title-gg{    
    font-size: 26px;     
    font-family: ChronicleDisplay-Italic;    
}
.content-gg{    
    font-family:Whitney-light;    
    font-size:18px;    
    margin-bottom:0px;    
   
}
.type-gg{
    margin:0 auto;
    
}
.description-gg{     
    font-family: ChronicleDeck-Roman;    
    font-size: 14px;    
    margin-bottom:0px;    
    text-align:left;      
    line-height:22px;      
   
}
.description-C .description-gg{
    display:inline-block;
    
}
.description-C .store-gg{
   margin-right:15px;
    
}
.description-image{    
    margin-top:12px;
}
 .store-gg{
    font-family: ChronicleDisplay-Italic-Bold;
    
    font-size:14px;
}

.style-A, .style-B, .style-C, .style-E, .style-F {    
      
    text-align:center;    
    margin-left:11px; 
    margin-right:11px;   
    margin:11px;
    vertical-align:top;    
    float:left;
    position:relative;
    max-width:288px;
}
  .style-D{
      max-width:598px;
          text-align:center;    
    margin-left:11px; 
    margin-right:11px;   
    margin:11px;
    vertical-align:top;    
    float:left;
    position:relative;
  }
.image-C, .description-C{
  margin:0 auto;
  margin:11px;
}
.image-C img{
    width:100%;
}
.style-D img{
    width:100%;
    margin:0 auto;
    
}

.style-D{

    height:auto;
    float:left;
    margin-right:11px;
}
.holiday-description{
max-width:288px;  
margin-left:11px;
margin-right:11px;
float:left;
text-align:center;

}
.description-D{   
    text-align:center;    
    margin-left:11px; 
    margin-right:11px;    
    vertical-align:top;    
    float:left;
}

.description-F{
    max-height:328px;
    margin-bottom:53px;
}    
.margin-top-none{
    margin-top:0px;
}

  .main_content{
   max-width:930px;
      margin:0 auto;
  }
  .gray_divider{
      float:left;
      width:100%;
  }
  .social-btn{
    bottom: 35px;
    position: absolute;
    right: 0; 
  }
  .gift-guide-subtitle{
   font-family: ChronicleDisplay-Italic;
    font-size: 40px;
    text-align: center;
    width: 100%;
    }
.gift-guide-title{
    margin-bottom:80px;    
}
section{
    margin-bottom:50px;
    padding-bottom:50px;
    }
.him, .her, .kids, .holiday-link{
    cursor:pointer;
    
}
.holiday-italic{
    font-family: ChronicleDisplay-Italic; 
    font-size:1.2em;
}
.holiday-link-her, .holiday-link-him, .holiday-link-kids{
   font-family: ChronicleDisplay-Italic; 
   color:#00aeef;
    font-size:1.2em;

}
.holiday-footer, .title-gg{
    text-align:center;
}
.pinit {
    position:relative;
	display:inline-block;
    max-width:100%;
}

.pinit .pinit-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	display:none;
	text-align:center;
}

.pinit .pinit-overlay a {
	position:absolute;

    bottom:15px;
    right:15px;
margin:-10px 0 0 -21px;
	display:block;
	width:43px;
	height:20px;
	background:transparent url('http://kodekloud.s3.amazonaws.com/sites/545bdd066e6f645bae000000/6057f533aec0a78fe2a92e20ed02d0cf/pinit-button.png') no-repeat 0 0;
	text-indent:-9999em;
}

.pinit .pinit-overlay a:hover {
    background-position: 0 -21px;
}

.pinit .pinit-overlay a:active {
	background-position: 0 -42px;
}
.fb-like{
    position:absolute !important;
    right:70px;
    bottom:15px;
    display:none;
}
    @media only screen and (max-width: 40em) {
        
.style-A, .style-B, .style-C, .style-E, .style-F {    
              
           float:none;
           margin: 0 auto;
       
        }
        .image-C, .description-C {
            margin:0 auto;
            text-align:center;
        }
        .fr-fin{
            margin-top:11px;
            margin-bottom:11px;
            max-width:288px;
        }
        .style-D{
            margin-left:11px;
            margin-top:15px;
            margin-bottom:15px;
        }
        .description-C{
        text-align:center;
        }
        .description-gg{
            text-align:center;    
        }
        .title-gg{
        margin-top:35px;
        }
        .holiday-description{
            padding:23px;   
            float:none;
            margin:0 auto;
        }
        h1{
            text-align:center;
            font-size:2.2em;
        }
        h2{
            font-size:1.5em;
        }
    }